/* Es para editar a los titulos con h1*/
h1 {
    /* ATRIBUTOS*/
    font-size: 65px; /* Tamaño de pixeles de las letras */
    text-align: center; /* Texto alineado al centro */
    color: rgb(14, 3, 24); /* Color de las letras */
    margin: 0; /* Margen de los 4 lados */
    padding: 20px 0; /* Espacio entre el borde y el contenido*/
    text-shadow: 4px 4px 2px rgb(186, 122, 247) /* Darle sombreado a las letras */
}

/* Es para editar a los titulos con h2*/
h2 {
    color: blue; /* Color de las letras */
    text-decoration: underline; /* Subraya el texto */
    font-size: 40px; /* Tamaño de pixeles de las letras */
    text-shadow: 1px 1px 2px blueviolet /* Darle sombreado a las letras */
  }

/* Es para editar a los titulos con h3*/
h3 {
    text-align: justify; /* Alinea el texto de manera justificada */
    text-decoration: underline; /* Subraya el texto */
    color: blue; /* Color de las letras */
    font-size: 30px; /* Tamaño de pixeles de las letras */
    text-shadow: 2px 2px 2px blueviolet  /* Darle sombreado a las letras */
  }

/* Es para editar a los parrafos */
p {
    font-size: 25px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
    letter-spacing: 1px; /* Espacio entre las letras */
    font-style: italic; /* Estilo de letra */
    text-align: justify; /* Alinea el texto de manera justificada */
    text-indent: 5px; /* Especifica la sangría de la primer línea de texto */
    letter-spacing: normal;  /* Espacio entre las letras */
    
  }
/* Es para editar todo el HTML */
html {
    background-color: white; /* Color de fondo */
  }

